// https://www.madcapsoftware.com/blog/css-tip-creating-styled-boxes-notes-warnings-examples-tips/
p.question {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #f0f7fb;
  background-repeat: no-repeat;
  border: solid 1px #9da5aa;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 15px;
  display: inline-block;
}

p.answer {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #ddffdd;
  background-repeat: no-repeat;
  border: solid 1px #4CAF50;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 15px;
  display: inline-block;
}
