---
---

$header-bg-color: #6E4D9B;
$header-bg-color-secondary: #048bd9;
$section-headings-color: #0079bf;

@import "{{ site.theme }}";

@import "examples.scss";
// @import "images.scss";
// @import "images2.scss";
@import "images3.scss";

// body {
//   margin: 0;
// }

// * {
//   box-sizing: border-box;
// }

.navbar-custom {
  background-color: #3452A0;
}

/* Modify brand and text color */
.navbar-custom .navbar-brand {
    color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
    color: #c7c7c7;
}

.active {
  background-color:#3452A0;
  color: white;
  font-weight: bold;
  font-size: large;
}

// .card {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   transition: 0.3s;
//   width: 23%;
//   display: inline-block;
//   font-size: small;
// }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
